<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nexign-sandbox/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="nexign-sandbox" />
            <add key="ClearTextPassword" value="cd9d67d9bcdd9ec15e8c326e3d93f24bba463b7e" />
        </github>
    </packageSourceCredentials>
</configuration>